{% extends "base.html" %}

{% block title%} Movie list Page {% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% for msg in messages %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
{% endfor %}
<div class="row">

    {% for movie in movie_list %}
    <div class="card" style="width: 18rem;">
        <img src="/static/images/{{ movie['image'] }}"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Title: {{ movie['name'] }}</h5>
            <h6 class="card-title">Release year: {{ movie['release_year'] }}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/movie/{{ movie['id'] }}" class="btn btn-primary">Movie Details >></a>
            {% if current_user.role == 'Admin' %}
            <div class="btn-group mt-2">
                <a href="/delete_movie/{{ movie['id'] }}" class="btn btn-danger">Delete Movie</a>
                <a href="/edit_movie/{{ movie['id'] }}" class="btn btn-info">Edit info</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
